body {
  background-color: #e5e5e5 !important;
}

.weekDay {
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  height: 100%;
}

.weekDayClassNumber {
  background-color: #7aaffc;
  border-radius: 10px;
  color: white;
}

.rounded-xl {
  border-radius: 10px;
}

.weekDayClassNumber p {
  margin-bottom: 0;
}

.addClassButton {
  background-color: transparent;
  border: 2px dashed green;
  border-radius: 10px;
  width: 100%;
  color: green;
  padding-bottom: 5px;
  font-size: 24px;
}

.dragPlaceholderButton {
  background-color: transparent;
  outline: 2px dashed green;
  border-radius: 10px;
  color: green;
}

.dragPlaceholderButton .weekDayClassNumber {
  margin-bottom: 0;
}

.weekDayItem {
  cursor: grab;
}

.weekDayItem:hover {
  cursor: grab;
}

.weekDayItem .gear {
  opacity: 0;
  transition: 0.3s all;
}

.weekDayItem .text-center:hover .gear {
  opacity: 1;
}

.panelItem {
  background-color: #fff;
  border-radius: 20px;
  padding: 1.5rem;
  height: 100%;
}

.panelItem .gear {
  opacity: 0;
  transition: 0.3s all;
  margin-bottom: 3px;
}

.panelItem:hover .gear {
  cursor: pointer;
  opacity: 1;
}

.panelItem:hover .delete {
  cursor: pointer;
  opacity: 1;
}

.panelItem .delete {
  opacity: 0;
  cursor: pointer;
  padding: 3px;
  background-color: #b4b4b4;
  display: flex;
  transition: 0.3s all;
  border-radius: 10px;
  margin-top: 5px;
}

.form-check-input {
  width: 50px !important;
  padding: 8px !important;
  cursor: pointer !important;
  margin-right: 10px;
}

.bg-green {
  background-color: #00800059;
}

.bg-orange {
  background-color: #ffb518;
}
